@import "@/assets/sass/variables"

.label
  border-radius: 16px
  height: 24px
  font-size: 12px
  text-align: center

  &.normal
    background-color: $normal-color
    color: white

  &.fire
    background-color: $fire-color
    color: black

  &.water
    background-color: $water-color
    color: white

  &.grass
    background-color: $grass-color
    color: white

  &.electric
    background-color: $electric-color
    color: black

  &.ice
    background-color: $ice-color
    color: white

  &.fighting
    background-color: $fighting-color
    color: white

  &.poison
    background-color: $poison-color
    color: white

  &.ground
    background-color: $ground-color
    color: white

  &.flying
    background-color: $flying-color
    color: white

  &.psychic
    background-color: $psychic-color
    color: white

  &.bug
    background-color: $bug-color
    color: black

  &.rock
    background-color: $rock-color
    color: black

  &.ghost
    background-color: $ghost-color
    color: white

  &.dragon
    background-color: $dragon-color
    color: white

  &.dark
    background-color: $dark-color
    color: white

  &.steel
    background-color: $steel-color
    color: white

  &.fairy
    background-color: $fairy-color
    color: black

.label-outline
  border-radius: 16px
  height: 24px
  font-size: 12px
  padding: 2px 4px
  text-align: center

  &.normal
    color: $normal-color
    border: 1px solid $normal-color
    background-color: white

  &.fire
    color: $fire-color
    border: 1px solid $fire-color
    background-color: white

  &.water
    color: $water-color
    border: 1px solid $water-color
    background-color: white

  &.grass
    color: $grass-color
    border: 1px solid $grass-color
    background-color: white

  &.electric
    color: $electric-color
    border: 1px solid $electric-color
    background-color: white

  &.ice
    color: $ice-color
    border: 1px solid $ice-color
    background-color: white

  &.fighting
    color: $fighting-color
    border: 1px solid $fighting-color
    background-color: white

  &.poison
    color: $poison-color
    border: 1px solid $poison-color
    background-color: white

  &.ground
    color: $ground-color
    border: 1px solid $ground-color
    background-color: white

  &.flying
    color: $flying-color
    border: 1px solid $flying-color
    background-color: white

  &.psychic
    color: $psychic-color
    border: 1px solid $psychic-color
    background-color: white

  &.bug
    color: $bug-color
    border: 1px solid $bug-color
    background-color: white

  &.rock
    color: $rock-color
    border: 1px solid $rock-color
    background-color: white

  &.ghost
    color: $ghost-color
    border: 1px solid $ghost-color
    background-color: white

  &.dragon
    color: $dragon-color
    border: 1px solid $dragon-color
    background-color: white

  &.dark
    color: $dark-color
    border: 1px solid $dark-color
    background-color: white

  &.steel
    color: $steel-color
    border: 1px solid $steel-color
    background-color: white

  &.fairy
    color: $fairy-color
    border: 1px solid $fairy-color
    background-color: white
